#container {
    width: 50%;
    margin: 30px auto;
    border: 1px solid #000;
    background-color:rgb(253, 109, 205);
}

body{
    background-color: rgb(252, 205, 236);
}

h1 {
    text-align: center;
}
/*também pode ser feito:
ul {
    list-style: none;
}*/

li{
    margin-bottom: 10px;
}
div{
    margin-bottom: 20px;
    padding-left: 10px;
}